/* UNIVERSAL STYLES */

* {
margin: 0;
padding: 0;
line-height: 1.4em;
text-decoration: none;
}

html,
body {
  text-align: center;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 20px;
  color: rgb(65, 65, 65);
  background-color: rgb(243, 245, 245);
  margin: 0;
}

p {
  font-weight: 200;
}

h2 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  margin: 0;
  padding-bottom: 1.4rem;
}

h3 {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
}

h4 {
  font-size: 1rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 100;
  margin: 0;
}

h5 {
  font-size: 0.75rem;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 100;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* LOGO */

h1 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 3rem;
  font-weight: 100;
  margin: 1.5rem 0;
}

h1 span {
  font-weight: 700;
}

/* NAVIGATION BAR */

nav {
  justify-content: space-around;
}

nav p {
  padding: 0 5rem;
}

a {
  color: black;
  transition: color, font-weight;
}

a:hover {
  color: rgb(196, 117, 99);
  font-weight: 400;
}

/* MISSION SECTION */

#mission {
  margin-top: 1.5rem;
  display: flex;
  background: 
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ),
    url(https://images.unsplash.com/photo-1534067058742-a4585f7d4ff4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  width: 80%;
}

.content h2 {
  font-size: 2.6rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
  margin: 1rem;
  opacity: 0.9;
}

/* PORTFOLIO */

#portfolio {
  background-color: rgb(201, 201, 201, 0.9);
  margin: 0;
  padding: 2.5rem;
}

.items {
  justify-content: center;
  min-height: 22.5rem;
}

.item img {
  height: auto;
  width: 20rem;
  margin: 1rem 4rem;
  opacity: 0.95;
  box-shadow: 0.4rem 0.4rem 0.5rem rgb(143, 143, 143);
  transition: filter 200ms ease-in 50ms;
  cursor: pointer;
}

.item img:hover {
  filter: grayscale(100%);
}
 
/* TEAM */

#team {
  padding: 2.5rem;
}

.team {
  justify-content: center;
  padding: 1rem;
}

.team img {
  height: auto;
  width: 13rem;
  border-radius: 50%;
  padding: 1.5rem 2.5rem;
}

.name {
  font-size: 1.2rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

.title {
  opacity: 0.5;
}

/* CONTACT */

hr {
  width: 80%;
  display: inline-block;
}

.address {
  margin: 2.5rem;
}

.address h3 {
  font-weight: 200;
}

i {
  margin: 0.7rem;
}

/* FOOTER */

footer {
  margin: 1rem;
}

@media only screen and (max-width: 375px) {
  /* Mobile */
  
  h1 {
    font-size: 2.5rem;
    margin: 1.5rem 1rem;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 0; 
    padding-bottom: 1rem; 
  }
  
  nav p {
  display: block;
  font-size: 0.9rem;
  margin: 0.4rem;
  }
  
  .content h2 {
    font-size: 1.85rem;
  }
  
  h3 {
    font-size: 0.9rem;
  }
  
  h4 {
    display: none;
  }
  
  h5 {
    font-size: 0.6rem;
  }
  
  #mission {
    height: 30rem;
  }
  
  #portfolio {
    padding: 2rem;
  }
  
  #team {
    padding: 2rem;
  }

  .item img {
    width: 14rem;
    margin: 0.8rem 1.8rem;
  }
  
  .team {
    padding: 0;
  }
  
  .team img {
  width: 11rem;
  padding: 1rem 2.5rem;
  }
  
  .member {
    margin: 0.5rem;
  }
  
  .styling {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    justify-content: center;
  }
  
  nav p {
    padding: 0 2.2rem;
  }
}